body
{
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#header
{
    background: blue url("../Header's logo/Technure.jpg") no-repeat;
    box-shadow: 0px 2px 20px 0px rgba(red, green, blue, alpha);
    color: white;
    font-weight: bold;
    margin 0;
    padding: 0.5em, 0 0.5em 2em;
}
#container
{
    widt: 70%;
    padding: 1em;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
